<!DOCTYPE html>
<html>
  <head>
    <title>TestingSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>

    <%= link_to 'Home', home_path %>
	  <%= link_to 'Products', products_path %>
	  <%= link_to 'Contact', contact_path %>

    <%= yield %>
    
  </body>
</html>
